{% extends 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    
    {% block content %}
    <h2 style="display: inline-block; position: absolute; padding: 35px 20px; text-transform: uppercase; font-family: Poppins;">Create New User</h2>
    <div class="signup">
        <h2 id = 'signup-h2'>Welcome To Luxury Line</h2><br>
        <h4 id = 'signup-h4'>Enter the credentials for new account</h4>
        <form action="{% url 'signuppage' %}" method="post">
            {% csrf_token %}
            <input type="text" name="uname" id="uname" placeholder="Enter Username" class="signup-input" style="background-image: url('../../static/signupapp/user-icon.png');" required><br>
            <input type="email" name="mail" id="mail" placeholder="Enter your Email" class="signup-input" style="background-image: url('../../static/signupapp/email.png');" required><br>
            <input type="text" name="fname" id="fname" placeholder="Enter First Name" class="signup-input" style="background-image: url('../../static/signupapp/firstname.png');" required><br>
            <input type="text" name="lname" id="lname" placeholder="Enter Last Name" class="signup-input" style="background-image: url('../../static/signupapp/firstname.png');" required><br>
            <input type="password" name="passd" id="passd" placeholder="Enter Password" class="signup-input" style="background-image: url('../../static/signupapp/password1.png');" required><br>
            <input type="password" name="cpassd" id="cpassd" placeholder="Confirm Password" class="signup-input" style="background-image: url('../../static/signupapp/password2.png');" required><br>
            
            
            <input type="submit" value="Create Account" id="submit-btn"><br>
            <!-- <span id="signup-span">Have an account? <a href="{% url 'loginpage' %}">Go to Login Page</a></span><br> -->
            
        </form>
    </div>
</body>
</html>
    {% endblock content %}
</body>
</html>