{% extends 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    

    {% block content %}
    
    <h2 style="display: inline-block; position: absolute; padding: 35px 20px; text-transform: uppercase; font-family: Poppins;">Home</h2>
    <div class="div3" >   </div>
    <div class="div4"><h1>ERP LUXURY LINE</h1> 
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem inventore voluptate qui, consequuntur fugiat iusto, corporis unde fuga earum fugit ipsa impedit officia nihil, repellendus quam numquam. Aspernatur, voluptates quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. At tempora iusto in amet est debitis sed fuga unde, sit commodi.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus libero, eius obcaecati pariatur inventore ullam iure possimus velit voluptas accusamus debitis corrupti voluptatum repellat ducimus adipisci maiores et at?</p>
    </div>
    {% endblock content %}
</body>
</html>