<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include all css files in main.html -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'luxuryline/home.css' %}">
    <link rel="stylesheet" href="{% static 'loginapp/login.css' %}">
    <link rel="stylesheet" href="{% static 'signupapp/signup.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/material.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/scale.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/supplier.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/viewmaterial.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/viewpage.css' %}">
    <link rel="stylesheet" href="{% static 'dashboardapp/salesdashboard.css' %}">
    
    <style>
       
        .div3{
            background-image: url("{% static 'luxuryline/campaign-creators.jpg'  %}");
        }
    </style>
    <title>Luxury Line World</title>
</head>
<body>
    {% include 'luxuryline/messages.html' %}
    {% include 'luxuryline/sidebar.html' %}

    {% block content %}
    
    {% endblock content %}
</body>
</html>