<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'luxuryline/sidebar.css'%}">
    <title>Sidebar</title>
</head>
<body>
    <div class="div1">
        <div class="div2">
            <div class="sidebar-logo">Logo</div>
            <h3 class = "sidebar-h2">Luxury Line World</h3>
            {% if user.is_authenticated %}
            <h4 class = "sidebar-h3">Welcome, {{user.last_name}} </h4>
            {% endif %}
            <ul class = 'sidebar-ul'>
                <li class="sidebar-li"><a href="{% url 'homepage' %}" class="sidebar-a">Home</a></li>
                {% if user.is_authenticated %}
                <li class="sidebar-li"><a href="{% url 'dashboardpage' %}" class="sidebar-a">Dashboard</a></li>
                <li class="sidebar-li"><a href="{% url 'dashboardpage' %}" class="sidebar-a">Profile</a></li>
                <li class="sidebar-li"><a href="{% url 'signuppage' %}" class="sidebar-a">Create New User</a></li>
                
                <li class="sidebar-li"><a href="{% url 'logoutpage' %}" class="sidebar-a">Logout</a></li>
                {% else %}
                <!-- <li class="sidebar-li"><a href="{% url 'signuppage' %}" class="sidebar-a">Create New User</a></li> -->
                <li class="sidebar-li"><a href="{% url 'loginpage' %}" class="sidebar-a">Login</a></li>
                {% endif %}

                
                
            </ul>
        </div>
        
    </div>
</body>
</html>