@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@200;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.div3{
    display: inline-block;
    height: 500px;
    width: 1140px;
    /* background-color: aqua; */
    position: absolute;
    left: 340px;
    top: 100px;
    padding: 10px 10px;
    /* background-image: url("../luxuryline/campaign-creators.jpg"); */
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    
}



.div4{
    display: inline-block;
    height: 230px;
    width: 1040px;
    /* background-color: khaki; */
    position: absolute;
    top: 635px;
    left:380px ;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgb(78, 77, 77);

}

.div4 h1{
    /* background-color: lavender; */
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.6px;
}

.div4 p{
    /* background-color: lawngreen; */
    padding: 15px 15px;
    margin-top: 15px;
}