@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.login{
    /* background-color: aqua; */
    height: 400px;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: 0px 0px 4px 1px rgb(167, 163, 163);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
}

#login-h2{
/* background-color: aquamarine; */
display: inline-block;
margin-top: 30px;
margin-left: 170px;
padding: 5px 5px;
letter-spacing: 0.6px;
}

#login-h4{
/* background-color: beige; */
display: inline-block;
margin-top: 7px;
margin-left: 80px;
color: darkgray;
letter-spacing: 0.4px;
}

form{
/* background-color: blueviolet; */
margin-top: 35px;

}

/* label{
    background-color: brown;
    display: inline-block;
} */


.login-input{
    height: 40px;
    /* background-color: springgreen; */
    width: 380px;
    /* margin: 10px 10px; */
    margin-left: 100px;
    margin-top: 15px;
    padding: 5px 0px;
    padding-left: 40px;
    border-color: rgb(213, 214, 216);
    /* border-color: white; */
    border-radius: 5px;
    transition: box-shadow;
    
}

.login-input:hover{
    box-shadow: 0px 0px 3px 1px rgb(69, 69, 224);
}


#uname{
    
    
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 5px;
    background-position-y: 5px;
    

    letter-spacing: 0.6px;
    border: 1px solid black;
}

#passd{
    background-image: url('./password1.png');
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 5px;
    background-position-y: 5px;
    letter-spacing: 0.6px;
    border: 1px solid black;
}



#login-submit-btn{
    height: 40px;
    width: 335px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20%;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    background-color: rgb(66, 66, 255);
    color: white;
    border: none;
    transition: background-color 0.5s, color 1s, border-radius 1s, border 0.5s;
}

#login-submit-btn:hover{
    background-color: white;
    color: rgb(66, 66, 255);
    border-radius: 40px;
    border: 1px solid rgb(66, 66, 255);
}

#login-span{
    /* background-color: brown; */
    letter-spacing: 0.4px;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    margin-left: 25%;
    color: darkgray;
}

a{
    text-decoration: none;
    color:rgb(53, 53, 235) ;
}