{% include 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Material</title>
  </head>
  <body>
    <h2 style="display: inline-block; position: absolute; padding: 35px 20px; text-transform: uppercase; font-family: Poppins;">Add Material</h2>
    <div class="form-material">
      <form method="post" action="{% url 'materialpage' %}">
        {% csrf_token %}
        <div class="material-container">
        
        <div class="Mid-div">
          <label for="id_mid">MATERIAL ID</label>
          {{form.mid}}
        </div>
        <div class="Material-div">
          <label for="id_material">MATERIAL</label>
          {{form.material}}
        </div>
        <div class="Quantity-div">
          <label for="id_quantity">QUANTITY</label>
          {{form.quantity}}
        </div>
        <div class="Scale-div">
          <label for="scale">SCALE</label>

          
          <select id="scale" name = 'scale'>
            {% for obj in data %}
            <option value="{{ obj.scaleid }}" >{{ obj.scale }}</option>
           
            {% endfor %}
           
            
          </select>
        </div>

        <div class="color-div">
          <label for="id_color">COLOR</label>
          {{form.color}}
        </div>

        <div class="lastupdated-div">
          <label for="id_lastupdated">DATE</label>
          {{form.lastupdated}}
        </div>

        <div class="Supplier-div">
          <label for="supplier">SUPPLIER</label>

          
          <select id="supplier" name = 'supplier'>
            {% for obj in supplier_data %}
            <option value="{{ obj.supplierid }}" >{{ obj.supplier_name }}</option>
           
            {% endfor %}
           
            
          </select>
        </div>

        <!-- <div class="Submit-div"> -->
          <input type="submit" value="Add Material" class="Submit-div" />
        <!-- </div> -->
        </div>
      </form>
      <!-- <div class="add-material-btn"><a href="{% url 'viewmaterialpage' %}">View Material</a></div> -->
    </div>
    <!-- <div class="add-material-btn"><a href="{% url 'viewmaterialpage' %}">View Material</a></div> -->
  </body>
</html>
