{% extends 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
</head>
<body>
    

    {% block content %}
    <h2 style="display: inline-block; position: absolute; padding: 35px 20px; text-transform: uppercase;">Dashboard</h2>
    <div class="dashboard-div1">
        <div class="dashboard-card1">
            <div class="dashboard-card1-img" style="background-image: url('../../static/dashboardapp/material.png');"></div>
            <div class="dashboard-card1-h2"><h2>INVENTORY</h2></div>
            <div class="dashboard-card1-btn"><a href="{% url 'viewmaterialpage' %}">View Material</a></div>
            <!-- <div class="dashboard-card1-btn"><a href="{% url 'scalepage' %}">Add New Scale</a></div>  -->
            <!-- <div class="dashboard-card1-btn"><a href="#">Material List</a></div>  -->
        </div>
        <div class="dashboard-card2">
            <div class="dashboard-card2-img" style="background-image: url('../../static/dashboardapp/supplier.png');"></div>
            <div class="dashboard-card2-h2"><h2>HUMAN RESOURCE</h2></div>
            <div class="dashboard-card2-btn"><a href="#">Add New Supplier</a></div>
            <div class="dashboard-card2-btn"><a href="#">Supplier List</a></div>
        </div>
        <div class="dashboard-card3">
            <div class="dashboard-card2-img" style="background-image: url('../../static/dashboardapp/supplier.png');"></div>
            <div class="dashboard-card2-h2"><h2>ACCOUNTS & FINANCE</h2></div>
            <div class="dashboard-card2-btn"><a href="#">Add New Supplier</a></div>
            <div class="dashboard-card2-btn"><a href="#">Supplier List</a></div>
        </div>

        <div class="dashboard-card4">
            <div class="dashboard-card2-img" style="background-image: url('../../static/dashboardapp/supplier.png');"></div>
            <div class="dashboard-card2-h2"><h2>SALES & PURCHASING</h2></div>
            <div class="dashboard-card2-btn"><a href="#">Add New Supplier</a></div>
            <div class="dashboard-card2-btn"><a href="#">Supplier List</a></div>
        </div>

        <div class="dashboard-card5">
            <div class="dashboard-card2-img" style="background-image: url('../../static/dashboardapp/supplier.png');"></div>
            <div class="dashboard-card2-h2"><h2>MARKETING</h2></div>
            <div class="dashboard-card2-btn"><a href="#">Add New Supplier</a></div>
            <div class="dashboard-card2-btn"><a href="#">Supplier List</a></div>
        </div>

        <div class="dashboard-card6">
            <div class="dashboard-card2-img" style="background-image: url('../../static/dashboardapp/supplier.png');"></div>
            <div class="dashboard-card2-h2"><h2>ORDER MANAGEMENT</h2></div>
            <div class="dashboard-card2-btn"><a href="#">Profit</a></div>
            <div class="dashboard-card2-btn"><a href="#">Supplier List</a></div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>