{% extends 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
</head>
<body>
    

    {% block content %}
    <h2 style="display: inline-block; position: absolute; padding: 15px 15px;">DASHBOARD</h2>
    <div class="div5">
        <ul>
            <li><a href="#">SUPPLIERS</a></li>
            <li><a href="#">EXPENSES</a></li>
            <li><a href="#">EMPLOYEES</a></li>
            <li><a href="#">MATERIALS</a></li>
            <li><a href="#">PRODUCTS</a></li>
        </ul>
    </div>
    {% endblock content %}
</body>
</html>