{% include 'luxuryline/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Page</title>
</head>
<body>
    

    
    
    <div class="viewpage-container">
        <div class="viewpage-mid">
            <label for="mid">MID</label>
            <span>{{query_info.mid}}</span>
        </div>
        
        <div class="viewpage-material">
            <label for="material">MATERIAL</label>
            <span>{{query_info.material}}</span>
        </div>
        {% for obj in items %}
            <div class="viewpage-date">
                <label for="quantity">Date</label>
                <span>{{obj.date}}</span>
            </div>

            <div class="viewpage-quantity">
                <label for="date">Quantity</label>
                <span>{{obj.quantity}}</span>
            </div>
        {% endfor %}    
        
        <a class="redirect-div" href="{% url 'viewmaterialpage' %}" style="margin-left: 25%; ">Return to View Material Page</a>        
    </div>

    <div class="paginator-text"><span>{{items.number}} of {{items.paginator.num_pages}}</span></div>
        {% if items.has_previous %}
        <div class="paginator-previousbtn"><a href="{% url 'viewpage' query_info.mid query_info.uid %}?page={{items.previous_page_number}}">Previous</a></div>
        {% endif %}

        {% if items.has_next %}
        
        <div class="paginator-nextbtn"><a href="{% url 'viewpage' query_info.mid query_info.uid %}?page={{items.next_page_number}}">Next</a></div>
        {% endif %}

    



</body>
</html>