@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.dashboard-div1{
    display: inline-block;
    position: absolute;
    height: 90%;
    width: 72%;
    /* background-color: aqua; */
    top: 100px;
    left: 340px;
    padding: 30px 30px;
}

.dashboard-card1{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 0px 20px;
    position: absolute;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}

.dashboard-card1-h2{
    /* background-color: blueviolet; */
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 5px 5px;
    margin: 5px 5px;
   
}

.dashboard-card1-btn{
    /* background-color: cadetblue; */
    /* padding: 10px 10px; */
    margin-top: 45px;
    
    
}

.dashboard-card1-btn a{
    background-color: rgb(150, 151, 150);
    /* background-color: aqua; */
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    letter-spacing: 0.7px;
    transition: color 0.6s,background-color 0.9s ;
}

.dashboard-card1-btn a:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}

.dashboard-card1-img{
    height: 70px;
    width: 100%;
    /* background-color: rgb(197, 189, 156); */
    /* background-image: url(./img/material.png); */
    background-size:contain;

    background-repeat: no-repeat;
    background-position: center;
    
}



.dashboard-card2{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 0px 20px;
    position: absolute;
    left: 400px;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}

.dashboard-card2-h2{
    /* background-color: blueviolet; */
    text-align: center;
    
    font-size: 14px;
    display: block;
    padding: 5px 5px;
    margin: 5px 5px;
   
}

.dashboard-card2-btn{
    /* background-color: cadetblue; */
    /* padding: 10px 10px; */
    margin-top: 10px;
    
}

.dashboard-card2-btn a{
    background-color: rgb(150, 151, 150);
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    letter-spacing: 0.7px;
    transition: color 0.6s,background-color 0.9s ;
}

.dashboard-card2-btn a:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}

.dashboard-card2-img{
    height: 70px;
    width: 100%;
    /* background-color: rgb(197, 189, 156); */
    /* background-image: url(./img/supplier.png); */
    background-size:contain;

    background-repeat: no-repeat;
    background-position: center;
    
}


.dashboard-card3{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 0px 20px;
    position: absolute;
    left: 770px;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}

.dashboard-card4{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 10px 20px;
    position: absolute;
    top: 360px;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}

.dashboard-card5{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 10px 20px;
    position: absolute;
    top: 360px;
    left: 400px;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}

.dashboard-card6{
    height: 320px;
    width: 300px;
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 10px 20px;
    position: absolute;
    top: 360px;
    left: 770px;
    box-shadow: 0px 0px 4px 1px rgb(179, 175, 175);
}