@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.div5{
    /* background-color: aqua; */
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 335px;
}

.div5 ul{
    list-style: none;
    
}

.div5 ul li {
    /* background-color: blueviolet; */
    display: inline-block;
    height: 70px;
    line-height: 70px;
    float: left;
    
}

.div5 ul li a{
    text-decoration: none;
    /* background-color: brown; */
    display: inline-block;
    padding: 10px 30px;
    /* color: white; */
    background-color: rgb(66, 66, 255);
    color: white;
    transition: color 0.6s, background-color 0.6s, border-top 0.1s;
}

.div5 ul li a:hover{
    /* background-color: rgb(0, 0, 0);
    color: rgb(167, 12, 12); */
    background-color: white;
    color: rgb(66, 66, 255);
    border-top: 5px solid rgb(66, 66, 255);
}