@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sans-serif;
}

.sales-container1{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    left: 24%;
    top: 4%;
    
}

.sales-container1 .sales-card1{
    height: 100%;
    width: 100%;
    background-color: beige;
    /* margin: 10px; */
   
}

.sales-container1 .sales-card1 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container1 .sales-card1 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   
   transition: background-color 0.7s;
}

.sales-container1 .sales-card1 a h2:hover{
    
    
    background-color: rgb(126, 74, 7);
}

.sales-container2{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    left: 46%;
    top: 4%;
}


.sales-container2 .sales-card2{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: inline-block;
}

.sales-container2 .sales-card2 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container2 .sales-card2 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(123, 81, 201); */
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   transition: background-color 0.7s;
}
.sales-container2 .sales-card2 a h2:hover{
    
    
    /* background-color: rgb(80, 12, 145); */
    background-color: rgb(126, 74, 7);
}

.sales-container3{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    left: 68%;
    top: 4%;
}


.sales-container3 .sales-card3{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: inline-block;
}

.sales-container3 .sales-card3 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container3 .sales-card3 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(123, 81, 201); */
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   transition: background-color 0.7s;
}

.sales-container3 .sales-card3 a h2:hover{
    
    background-color: rgb(126, 74, 7);
    /* background-color: rgb(80, 12, 145); */
}

.sales-container4{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 24%;
}


.sales-container4 .sales-card4{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: inline-block;
}

.sales-container4 .sales-card4 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container4 .sales-card4 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(123, 81, 201); */
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   transition: background-color 0.7s;
}

.sales-container4 .sales-card4 a h2:hover{
    background-color: rgb(126, 74, 7);
    
    /* background-color: rgb(80, 12, 145); */
}

.sales-container5{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 46%;
}


.sales-container5 .sales-card5{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: inline-block;
}

.sales-container5 .sales-card5 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container5 .sales-card5 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(123, 81, 201); */
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   transition: background-color 0.7s;
}

.sales-container5 .sales-card5 a h2:hover{
    background-color: rgb(126, 74, 7);
    /* background-color: rgb(80, 12, 145); */
}

.sales-container6{
    height: 150px;
    width: 250px;
    /* background-color: aqua; */
    margin: 10px 10px;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 68%;
}


.sales-container6 .sales-card6{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: inline-block;
}

.sales-container6 .sales-card6 a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: blue;
    text-decoration: none;
}

.sales-container6 .sales-card6 a h2{
    height: 100%;
    width: 100%;
    line-height: 150px;
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(123, 81, 201); */
    background-color: rgb(161, 112, 56);
   letter-spacing: 0.9px;
   transition: background-color 0.7s;
}

.sales-container6 .sales-card6 a h2:hover{
    background-color: rgb(126, 74, 7);
    /* background-color: rgb(80, 12, 145); */
}